APP_NAME="ContaFit Agenda Web"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES
APP_TIMEZONE=America/Guayaquil

PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=contafit_agenda
DB_USERNAME=postgres
DB_PASSWORD=root

SESSION_DRIVER=database
SESSION_LIFETIME=120

FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=file

MAIL_MAILER=smtp
MAIL_HOST=smtp-relay.sendinblue.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@dominio.com
MAIL_PASSWORD=tu_smtp_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="contafitmach@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

BREVO_API_KEY=tu_brevo_api_key_aqui
FERIADOS_IO_API_KEY=tu_feriados_io_api_key_aqui
FERIADOS_IO_COUNTRY=ec

VITE_APP_NAME="${APP_NAME}"
